# Verus Verification Workflow (VeriFlat)

## How to run verification
`./verify.sh`.
